<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course Planner | Backbone Client</title>

	<!-- Styles -->
	<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

	<!-- IE Scripts -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <!-- App -->
    <div id="app" class="site">

        <header class="site-header">

            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/index">Course Planner</a>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#/courses">Mes Cours</a></li>
                            <li><a href="#/curriculums">Mes Formations</a></li>
                            <li><a href="#/schools">Mes &Eacute;coles</a></li>
                            <li><a href="#/students">Mes &Eacute;tudiants</a></li>
                        </ul><!-- .nav -->
                        <ul class="nav navbar-nav pull-right hidden-xs">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i> User name <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#/profile"><i class="glyphicon glyphicon-cog mr-xxsmall"></i>Mon profil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#/logout"><i class="glyphicon glyphicon-off"></i> Se d&eacute;connecter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- .container -->
            </div><!-- .navbar -->

        </header><!-- .site-header -->

        <div class="site-content">
            <section class="container">
                <div id="alert"></div>
                <header id="masthead" class="page-header mt-no">
                    <h1 id="title" class="mt-no">Salut, User !</h1>
                </header>
                <div id="primary" class="content-area">
                    <p>Le contenu de cette page est vide.</p>
                </div>
                <div id="secondary" class="widget-area"></div>
            </section><!-- .container -->
        </div><!-- .site-content -->

        <footer id="colophon" class="site-footer"></footer><!-- .site-footer -->

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="modal-title" class="modal-title" id="modalLabel">Ajouter un nouveau cours</h4>
                    </div>
                    <div id="modal-body" class="modal-body"></div>
                    <div id="modal-footer" class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal -->

    </div><!-- .site -->

	<!-- Templates -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un nouveau cours</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="course-form" role="form" action="" method="POST">
                        <div class="form-group">
                            <label for="course-name" class="col-sm-4 control-label">Nom</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="course-name" name="course-name" value="" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="course-code" class="col-sm-4 control-label">Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="course-code" name="course-code" value="" placeholder="UF XXX...">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="form-group">
                            <label for="course-start_date" class="col-sm-4 control-label">Date de début</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="course-start_date" name="course-start_date" value="" placeholder="AAAA-MM-JJ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="course-end_date" class="col-sm-4 control-label">Date de fin</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="course-end_date" name="course-end_date" value="" placeholder="AAAA-MM-JJ...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="course-reference_document" class="col-sm-4 control-label">Dossier pédagogique</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="course-reference_document" name="course-reference_document" value="" placeholder="http://www.mondossier.cfweb.be...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-md-12">
                                <button type="submit" class="btn btn-default">Enregistrer</button>
                                <a class="ml-xsmall" href="#index" data-dismiss="modal">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div-->
            </div>
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

    <script type="text/template" id="course-single-tpl">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="page-header">Tous les cours > <%= name %></h1>
            </div>
            <div class="col-sm-4">
                <button class="pull-right btn btn-danger"><i class="glyphicon glyphicon-trash mr-xxsmall"></i><span class="hidden-xs">Supprimer</span></button>
                <button class="pull-right btn btn-default"><i class="glyphicon glyphicon-pencil mr-xxsmall"></i><span class="hidden-xs">Modifier</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 font-bold text-right">Nom</div>
            <div class="col-sm-10 mb-medium"><%= name %></div>
        </div>
        <div class="row">
            <div class="col-sm-2 font-bold text-right">Code</div>
            <div class="col-sm-10 mb-medium"><%= code %></div>
        </div>
        <div class="row">
            <div class="col-sm-2 font-bold text-right">Date de début</div>
            <div class="col-sm-10 mb-medium"><%= start_date %></div>
        </div>
        <div class="row">
            <div class="col-sm-2 font-bold text-right">Date de fin</div>
            <div class="col-sm-10 mb-medium"><%= end_date %></div>
        </div>
        <div class="row">
            <div class="col-sm-2 font-bold text-right">Annexes</div>
            <div class="col-sm-10 mb-medium"><a href="<%= reference_document %>">Dossier pédagogique</a></div>
        </div>

        <a class="btn btn-default" href="#/courses"><i class="glyphicon glyphicon-arrow-left mr-xxsmall"></i>Tous mes cours</a>
    </script>

    <script type="text/template" id="course-item-tpl">
        <td class="hidden-xs"><%= code %></td>
        <td>
            <a href="#courses/<%= id %>"><%= name %></a>
        </td>
        <td class="hidden-xs"><%= start_date %></td>
        <td class="hidden-xs"><%= end_date %></td>
        <td class="hidden-xs"><a href="<%= reference_document %>" target="_blank">Dossier pédagogique<i class="glyphicon glyphicon-share-alt ml-xxsmall"></i></a></td>
        <td class="text-right hidden-xs">
            <button class="btn btn-default btn-sm ml-xxsmall edit"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-danger btn-sm ml-xxsmall delete"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </script>

    <script type="text/template" id="course-collection-tpl"></script>

	<!-- Scripts -->
	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/underscore.string.js"></script>
	<script src="js/vendor/backbone.js"></script>

    <!-- Namespace and routing logic. -->
	<script src="js/app/app.js"></script>
	<script src="js/app/router.js"></script>

    <!-- Business logic -->
	<script src="js/src/model/course.js"></script>
	<script src="js/src/collection/course-collection.js"></script>

    <!-- UI logic -->
    <script src="js/src/view/form-view.js"></script>
    <script src="js/src/view/item-view.js"></script>
    <script src="js/src/view/modal-view.js"></script>
    <script src="js/src/view/single-view.js"></script>
    <script src="js/src/view/table-view.js"></script>

    <script src="js/src/view/course/course-item-view.js"></script>
	<script src="js/src/view/course/course-collection-view.js"></script>
	<script src="js/src/view/course/course-form-view.js"></script>
	<script src="js/src/view/course/course-single-view.js"></script>

    <script src="js/app/app-view.js"></script>

	<script>
		// Run time
		$(document).ready(function () {
            var app    = new App.View.AppView(),
			    router = new App.Router();
			Backbone.history.start();
		});
	</script>
</body>
</html>